<div class="display-card">
  <div class="text-cutter irecipe-profile-black recipe-name">
    {{ recipe.name }}
  </div>

  <img
    [routerLink]="['/view-recipe', recipe.id]"
    class="recipe-display-card-image"
    [src]="recipeImage"
  />

  <div class="recipe-icons">
    <div class="">
      <span class="likes-amount">
        {{ recipe.likedBy.length }}
      </span>

      <span
        (click)="toggleLike()"
        *ngIf="!like"
        class="material-icons-outlined functionality-icons"
      >
        thumb_up
      </span>
      <span
        (click)="toggleLike()"
        *ngIf="like"
        class="material-icons functionality-icons"
      >
        thumb_up
      </span>
    </div>

    <div class="comments">
      <span class="comments-amount">
        {{ recipe.comments.length }}
      </span>

      <span
        (click)="toggleComment()"
        class="material-icons functionality-icons"
      >
        chat_bubble_outline
      </span>
    </div>
  </div>

  <div *ngIf="comment" class="recipe-comment">
    <irecipe-comment
      [comments]="recipe.comments"
      (commentToAdd)="onAddComment($event)"
      (commentToDelete)="onDeleteComment($event)"
    ></irecipe-comment>
  </div>
</div>
