<div class="display-card">
  <div class="text-cutter irecipe-profile-black recipe-name">
    {{ recipe.name }}
  </div>

  <img
    [routerLink]="['/view-recipe', recipe.id]"
    class="recipe-display-card-image"
    [src]="recipeImage"
  />

  <div class="recipe-icons">
    <span class="material-icons functionality-icons"> thumb_up </span>
    <span (click)="toggleComment()" class="material-icons functionality-icons">
      chat_bubble_outline
    </span>
  </div>

  <div *ngIf="comment" class="recipe-comment">
    <irecipe-comment
      [comments]="recipe.comments"
      (commentToAdd)="onAddComment($event)"
      (commentToDelete)="onDeleteComment($event)"
    ></irecipe-comment>
  </div>
</div>
