@media screen and (max-width: 1800px) {
  .recipe-name {
    font-size: 32px !important;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .recipe-display-card-image {
    width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .recipe-name {
    font-size: 26px !important;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .recipe-display-card-image {
    width: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .recipe-name {
    font-size: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .recipe-display-card-image {
    width: 200px;
    max-height: 200px;
  }
}

.display-card {
  transition: 0.3s;
  align-content: center;
  text-align: center;
  position: relative;
}

.irecipe-profile-black {
  color: var(--irecipe-secondary);
}

.text-cutter {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: N;
}

button:hover {
  background-color: var(--irecipe-orange);
  transform: scale(1.1);
}

.recipe-display-card-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.recipe-icons {
  color: var(--irecipe-secondary);
  text-align: left;
  padding-top: 15px;
  display: flex;
}

.comments {
  padding-left: 10px;
}

.functionality-icons:hover {
  transform: scale(1.2);
}

.functionality-icons {
  cursor: pointer;
  padding-right: 10px;
}

.star {
  font-size: 28px;
  padding-left: 5px;
}

.material-icons,
.material-icons-outlined {
  padding-right: 0px;
}
