@media screen and (max-width: 1800px) {
  .recipe-name {
    font-size: 32px !important;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .icon-large {
    font-size: 60px;
  }

  .recipe-display-card-image {
    width: 300px;
    max-height: 300px;
  }

  .recipe-content {
    min-height: 350px;
  }

  .likes-amount,
  .comments-amount {
    font-size: 25px;
    padding-right: 3px;
  }
}

@media screen and (max-width: 1200px) {
  .recipe-name {
    font-size: 26px !important;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .icon-large {
    font-size: 50px;
  }

  .recipe-display-card-image {
    width: 250px;
    max-height: 250px;
  }

  .recipe-content {
    min-height: 300px;
  }

  .likes-amount,
  .comments-amount {
    font-size: 20px;
    padding-right: 3px;
  }
}

@media screen and (max-width: 768px) {
  .recipe-name {
    font-size: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .icon-large {
    font-size: 30px;
  }

  .recipe-display-card-image {
    width: 200px;
    max-height: 200px;
  }

  .recipe-content {
    min-height: 230px;
  }

  .likes-amount,
  .comments-amount {
    font-size: 18px;
    padding-right: 3px;
  }
}

.display-card {
  align-content: center;
  text-align: center;
  position: relative;
  padding: 10px;
  border-radius: 2px;
  background-color: #343434;
}

.recipe-icons {
  position: absolute;
  bottom: 5px;
}

.recipes-container-functionality {
  color: var(--irecipe-primary);
  padding-top: 50px;
}

.recipes-container-functionality:hover,
.recipe-author:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.irecipe-profile-black {
  color: var(--irecipe-secondary);
}

.text-cutter {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: N;
}

button:hover {
  background-color: var(--irecipe-orange);
  transform: scale(1.1);
}

.recipe-display-card-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.recipe-icons {
  color: var(--irecipe-primary);
  padding-left: 10px;
  text-align: left;
  padding-top: 15px;
  display: flex;
}

.comments {
  padding-left: 10px;
}

.recipe-author {
  color: var(--irecipe-secondary);
  font-family: AlegreyaBold;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}

.profile-image {
  color: var(--irecipe-primary);
}

.functionality-icons:hover {
  transform: scale(1.2);
}

.functionality-icons {
  cursor: pointer;
  padding-right: 10px;
}

.star {
  font-size: 28px;
  padding-left: 5px;
}

.material-icons,
.material-icons-outlined {
  padding-right: 0px;
}
