@media screen and (max-width: 1800px) {
  .irecipe-length-social {
    width: 350px;
  }

  .irecipe-button-login-submit {
    width: 175px;
  }
}

@media screen and (max-width: 1200px) {
  .irecipe-length-social {
    width: 250px;
  }

  .irecipe-button-login-submit {
    width: 125px;
  }
}

.irecipe-login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alert {
  overflow-wrap: anywhere;
}

.irecipe-create-account {
  color: var(--irecipe-secondary);
}

.irecipe-create-account:hover {
  color: var(--irecipe-secondary);
  cursor: pointer;
}

.irecipe-input {
  border-color: var(--irecipe-secondary);
  margin-left: 0;
}

.irecipe-button {
  background-color: var(--irecipe-secondary);
  color: #fff;
}

.form-field {
  width: 100%;
  text-align: left;
}

.irecipe-forgot-password {
  text-align: center;
  margin-top: 2vh;
}

.irecipe-button-login-submit {
  background-color: white;
  border-radius: 30px;
  border: 1px solid var(--irecipe-secondary);
  color: black;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 4vh;
}

.irecipe-button-login-submit:hover {
  transform: scale(1.1);
}

[disabled] {
  color: grey;
}

.irecipe-button-social {
  margin: 1vh;
  border-radius: 30px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.irecipe-button-social:hover {
  transform: scale(1.1);
}

.google {
  background-color: white;
  color: black;
}

.facebook {
  background-color: #1a77f0;
  color: white;
  border: none;
}

.irecipe-forgot-password:hover {
  cursor: pointer;
  color: var(--irecipe-secondary);
}

.irecipe-social-login {
  margin-top: 2%;
  text-align: center;
}
