<div class="user-login-form">
  <form [formGroup]="userForm" class="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label
        >Email
        <input class="long" type="text" formControlName="email" required />
      </label>
      <div class="error-label" *ngIf="email?.hasError('email')">
        Email isn't valid. Please enter a valid email.
      </div>
    </div>

    <div class="form-field">
      <label>
        Password
        <input class="long" type="text" formControlName="password" required />
      </label>
      <div
        class="error-label"
        *ngIf="password?.hasError('required') && userForm.touched"
      >
        Password is required
      </div>
      <div class="error-label" *ngIf="password?.hasError('minlength')">
        Password needs to be longer then 6 characters!
      </div>
    </div>
    <div class="form-footer">
      <button
        class="irecipe-button"
        [disabled]="userForm.invalid"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
