<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav header-menu">
    <li>
      <span (click)="onRecipes()" class="navbar-logo logo">iRecipe</span>
    </li>
    <li *ngIf="!mobile" class="nav-item">
      <span (click)="onRecipes()" class="navbar-heading bold">My Recipes</span>
    </li>

    <li *ngIf="!mobile" class="nav-item">
      <span (click)="onDiscover()" class="navbar-heading bold">Discover</span>
    </li>
  </ul>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggleExternalContent"
  >
    <span class="material-symbols-outlined"> menu </span>
  </button>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li>
        <irecipe-find-user></irecipe-find-user>
      </li>

      <li class="nav-item header-user-account">
        <div [ngClass]="showSettings ? 'show-menu' : 'dont-show-menu'">
          <irecipe-settings
            [isCollapsed]="false"
            class="display-menu"
            [ngClass]="colorTheme"
            (themeColor)="onColorTheme($event)"
          ></irecipe-settings>
        </div>

        <span
          (click)="toggleSettings($event)"
          class="material-symbols-outlined recipe-icons"
        >
          settings
        </span>
      </li>

      <li class="nav-item">
        <span (click)="logout()" class="material-symbols-outlined recipe-icons">
          logout
        </span>
      </li>
    </ul>
  </div>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div (click)="onRecipes()" class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> home </span>
    Home
  </div>
  <div
    class="p-2 bold collapsed-item"
    [ngClass]="findUser ? 'search-for-user-true ' : 'search-for-user-false'"
  >
    <div (click)="toggleFindUserCollapsed()">
      <span class="material-symbols-outlined"> search </span>
      Search Users
    </div>
    <div *ngIf="findUser">
      <irecipe-find-user></irecipe-find-user>
    </div>
  </div>

  <div (click)="onDiscover()" class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> travel_explore </span>
    Discover
  </div>
  <div (click)="onSettings()" class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> settings </span>
    Settings
  </div>
  <div *ngIf="showCollapsedSettings"></div>
  <div (click)="logout()" class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> logout </span>
    Log Out
  </div>
</div>
