@media screen and (max-width: 1800px) {
  .navbar-logo {
    font-size: 48px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .recipe-icons {
    font-size: 32px;
  }

  .navbar-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-logo {
    font-size: 36px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .recipe-icons {
    font-size: 24px;
  }

  .navbar-heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-logo {
    font-size: 28px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .recipe-icons {
    font-size: 18px;
  }

  .navbar-heading {
    font-size: 16px;
  }
}

.recipe-icons:hover {
  cursor: pointer;
}

.search-user-input {
  border: none;
  background: var(--irecipe-primary);
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-user-input::placeholder {
  color: white;
}

.navbar {
  font: large;
  color: var(--irecipe-primary);
}

.nav-item {
  padding-left: 10px;
}

.navbar-heading-left,
.navbar-heading-right {
  margin-top: 25px;
  color: var(--irecipe-secondary);
}

.navbar-heading-left:hover,
.navbar-heading-right:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.collapsed-item {
  color: var(--irecipe-secondary);
}

.collapsed-item:hover {
  cursor: pointer;
}

.nav-item:hover {
  transform: scale(1.2);
}

.navbar-nav {
  flex-direction: row;
}

.irecipe-hide {
  visibility: hidden;
}

.show-input {
  visibility: visible;
}

.dont-show-input {
  visibility: hidden;
}

.navbar-toggler {
  color: var(--irecipe-secondary);
}
