<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav header-menu">
    <li>
      <span class="navbar-logo logo">iRecipe</span>
    </li>
    <li class="nav-item">
      <span (click)="onRecipes()" class="navbar-heading bold">My Recipes</span>
    </li>

    <li class="nav-item">
      <span (click)="onDiscover()" class="navbar-heading bold">Discover</span>
    </li>
  </ul>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggleExternalContent"
  >
    <span class="material-symbols-outlined"> menu </span>
  </button>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li>
        <irecipe-find-user></irecipe-find-user>
      </li>

      <li class="nav-item header-user-account">
        <div [ngClass]="showSettings ? 'show-menu' : 'dont-show-menu'">
          <irecipe-settings
            class="display-menu"
            [ngClass]="colorTheme"
            (themeColor)="onColorTheme($event)"
          ></irecipe-settings>
        </div>

        <span
          (click)="toggleSettings($event)"
          class="material-symbols-outlined recipe-icons"
        >
          account_circle
        </span>
      </li>

      <li class="nav-item">
        <span (click)="logout()" class="material-symbols-outlined recipe-icons">
          logout
        </span>
      </li>
    </ul>
  </div>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div class="p-2 bold collapsed-item" (click)="toggleFindUserCollapsed()">
    <span class="material-symbols-outlined"> search </span>
    Search Users
  </div>
  <div *ngIf="findUser">
    <irecipe-find-user></irecipe-find-user>
  </div>
  <div class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> account_circle </span>
    Account
  </div>
  <div (click)="logout()" class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> logout </span>
    Log Out
  </div>
</div>
