<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse irecipe-hide" id="invisibleToggler">
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="material-symbols-outlined"> search </span>
      </li>
      <li class="nav-item">
        <span class="material-symbols-outlined"> account_circle </span>
      </li>
      <li class="nav-item">
        <span (click)="logout()"> login </span>
      </li>
    </ul>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggleExternalContent"
  >
    <span class="material-symbols-outlined"> menu </span>
  </button>

  <ul class="navbar-nav">
    <li class="navbar-heading-left">
      <span routerLink="/main" class="navbar-heading bold">My Recipes</span>
    </li>

    <li>
      <span class="navbar-logo logo">iRecipe</span>
    </li>
    <li class="navbar-heading-right">
      <span routerLink="/main/discover" class="navbar-heading bold"
        >Discover</span
      >
    </li>
  </ul>

  <button
    class="navbar-toggler irecipe-hide"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggleExternalContent"
  >
    <span class="material-symbols-outlined"> menu </span>
  </button>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="material-symbols-outlined recipe-icons"> search </span>
      </li>
      <li class="nav-item">
        <span class="material-symbols-outlined recipe-icons">
          account_circle
        </span>
      </li>
      <li class="nav-item">
        <span (click)="logout()" class="material-symbols-outlined recipe-icons">
          logout
        </span>
      </li>
    </ul>
  </div>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> search </span>
    Search Recipes
  </div>
  <div class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> account_circle </span>
    Account
  </div>
  <div (click)="logout()" class="p-2 bold collapsed-item">
    <span class="material-symbols-outlined"> logout </span>
    Log Out
  </div>
</div>
