@media screen and (max-width: 1800px) {
  .navbar-logo {
    font-size: 48px;
    padding-left: 20px;
  }

  .recipe-icons {
    font-size: 32px;
  }

  .navbar-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-logo {
    font-size: 36px;
  }

  .recipe-icons {
    font-size: 24px;
  }

  .navbar-heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-logo {
    font-size: 28px;
  }

  .recipe-icons {
    font-size: 18px;
  }

  .navbar-heading {
    font-size: 16px;
  }
}

.recipe-icons:hover {
  cursor: pointer;
}

.navbar {
  color: var(--irecipe-primary);
}

.header-menu > .nav-item {
  padding-left: 40px;
  color: var(--irecipe-secondary);
}

.header-menu > .nav-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.collapsed-item {
  color: var(--irecipe-secondary);
}

.collapsed-item:hover {
  cursor: pointer;
}

.recipe-icons:hover {
  transform: scale(1.2);
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.irecipe-hide {
  visibility: hidden;
}

.show-menu {
  visibility: visible;
}

.dont-show-menu {
  display: none;
}

.display-menu {
  margin-right: 10px;
}

.show-menu {
  padding-top: 3px;
}

.navbar-toggler {
  color: var(--irecipe-secondary);
}

.header-user-account {
  position: relative;
}

.display-menu {
  position: absolute;
  top: 40px;
  left: -270px;
  width: 320px;
  background-color: white;
  color: black;
}

.header-menu-item > .material-symbols-outlined {
  float: left;
  padding-left: 20px;
  padding-right: 0px;
}

.display-menu {
  color: black;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 2px black;
}

.light {
  background-color: var(--irecipe-primary);
  color: black;
}

.dark {
  color: black;
}
