@media screen and (max-width: 1800px) {
  .navbar-logo {
    font-size: 48px;
    padding-left: 20px;
  }

  .recipe-icons {
    font-size: 32px;
  }

  .navbar-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-logo {
    font-size: 36px;
    padding-left: 10px;
  }

  .recipe-icons {
    font-size: 24px;
  }

  .navbar-heading {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-logo {
    font-size: 28px;
    padding-left: 0px;
  }

  .recipe-icons {
    font-size: 18px;
  }

  .navbar-heading {
    font-size: 16px;
  }
}

.recipe-icons:hover {
  cursor: pointer;
}

.navbar {
  color: var(--irecipe-primary);
}

.header-menu > .nav-item {
  padding-left: 40px;
  color: var(--irecipe-secondary);
}

.header-menu > .nav-item:hover,
.navbar-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.collapsed-item {
  color: var(--irecipe-secondary);
  font-size: 20px;
}

.collapsed-item:hover {
  cursor: pointer;
}

.recipe-icons:hover {
  transform: scale(1.2);
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.irecipe-hide {
  visibility: hidden;
}

.show-menu {
  visibility: visible;
}

.dont-show-menu {
  display: none;
}

.display-menu {
  margin-right: 10px;
}

.show-menu {
  padding-top: 3px;
}

.navbar-toggler {
  color: var(--irecipe-secondary);
}

.header-user-account {
  position: relative;
}

.header-menu-item > .material-symbols-outlined {
  float: left;
  padding-left: 20px;
  padding-right: 0px;
}

.light {
  background-color: var(--irecipe-primary);
  color: black;
}

.dark {
  color: black;
}

.search-for-user-true {
  padding-bottom: 60px !important;
}

.search-for-user-false {
  padding-bottom: 0px;
}
