@media screen and (max-width: 1800px) {
  .comment {
    font-size: 16px;
  }

  textarea {
    width: 300px;
  }
}

@media screen and(max-width:1200px) {
  .comment {
    font-size: 14px;
  }

  textarea {
    width: 250px;
  }
}

@media screen and(max-width:768px) {
  .comment {
    font-size: 12px;
  }
}

.recipe-comment-container {
  margin-top: 25px;
}

.add-comment-button {
  text-align: right;
}

.enabled {
  color: var(--irecipe-primary);
}

.disabled {
  color: grey;
}

.disabled:hover {
  cursor: not-allowed;
}

.add-comment-button:hover {
  cursor: pointer;
}

.material-symbols-outlined {
  padding-right: 0px;
}

.comment {
  color: var(--irecipe-secondary);
  text-align: left;
  overflow-wrap: anywhere;
  font-size: 16px;
}

.recipe-comment {
  padding-top: 40px;
}

.comment-author {
  text-align: left;
  color: var(--irecipe-primary);
  font-family: Alegreya;
}

.material-symbols-outlined {
  vertical-align: -0.25em;
}

.comment-time,
.comment-delete {
  color: grey;
  text-align: right;
  font-size: 12px;
}

.comment-delete:hover {
  cursor: pointer;
  transform: scale(1.05);
}
