<div class="recipe-comment-container">
  <textarea placeholder="Add a comment" [(ngModel)]="comment"></textarea>

  <div
    (click)="sendComment()"
    class="add-comment-button"
    [ngClass]="comment ? 'enabled' : 'disabled'"
  >
    <span class="material-symbols-outlined"> check_box </span>
    Post Comment
  </div>

  <div class="recipe-comments-display">
    <div class="recipe-comment" *ngFor="let comment of comments">
      <div class="comment-author">
        <span class="material-symbols-outlined"> account_circle </span>
        {{ comment.username }}
      </div>

      <div class="comment">
        {{ comment.comment }}
      </div>

      <div class="comment-time">
        <span>
          {{ millisecondsToDateConverter(comment.dateCreated) }}
        </span>
      </div>

      <div class="comment-delete">
        <span
          (click)="deleteComment(comment)"
          *ngIf="loggedInUserId == comment.commentAuthorId"
        >
          delete comment
        </span>
      </div>
    </div>
  </div>
</div>
