@media screen and (max-width: 1800px) {
  .recipe-section-header {
    font-size: 40px !important;
    margin-bottom: 40px;
  }

  .recipe-name {
    font-size: 85px;
    width: 700px;
  }

  input.recipe-name::placeholder {
    font-size: 85px;
    text-align: center;
  }

  .icon-large {
    font-size: 60px !important;
  }

  .error-label {
    font-size: 18px;
  }

  .material-symbols-outlined,
  .material-icons {
    font-size: 35px;
  }

  .display-tips-container {
    margin-left: 25%;
    margin-right: 25%;
  }

  .display-ingredients,
  .display-steps,
  .display-tips {
    padding-top: 15px;
  }

  .recipe-textarea {
    width: 300px;
    height: 250px;
  }
  .recipe-description-textarea {
    width: 600px;
    height: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .recipe-section-header {
    font-size: 32px !important;
    margin-bottom: 25px;
  }

  .recipe-name {
    font-size: 55px;
    width: 350px;
  }

  input.recipe-name::placeholder {
    font-size: 45px;
    text-align: center;
  }

  .recipe-details {
    padding-top: 25px;
  }

  .error-label {
    font-size: 14px;
  }

  .icon-large {
    font-size: 40px !important;
  }

  .material-symbols-outlined,
  .material-icons {
    font-size: 28px;
  }

  .display-ingredients,
  .display-steps,
  .display-tips {
    padding-top: 12px;
  }

  .recipe-textarea {
    width: 300px;
    height: 200px;
  }

  .recipe-description-textarea {
    width: 300px;
    height: 120px;
  }
}

@media screen and (max-width: 768x) {
  .recipe-section-header {
    font-size: 24px !important;
    margin-bottom: 10px;
  }

  .recipe-name {
    font-size: 25px;
    width: 200px;
  }

  input.recipe-name::placeholder {
    font-size: 25px !important;
    text-align: center;
  }

  .icon-large {
    font-size: 20px !important;
  }

  .error-label {
    font-size: 12px;
  }

  .material-symbols-outlined,
  .material-icons {
    font-size: 22px;
  }

  .display-tips-container {
    margin-left: 15%;
    margin-right: 10%;
  }

  .display-tips-container {
    margin-left: 15%;
    margin-right: 15%;
  }

  .display-ingredients,
  .display-steps,
  .display-tips {
    padding-top: 8px;
  }

  .recipe-textarea {
    width: 300px;
    height: 150px;
  }

  .recipe-description-textarea {
    width: 300px;
    height: 100px;
  }
}

.recipe-container {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.details-container {
  width: 150px;
}

.add-icon,
.invalid-icon {
  padding-top: 1%;
  margin-left: 10px;
}

.upload-image {
  padding-top: 10px;
  color: var(--irecipe-primary);
}

.upload-image-disabled {
  padding-top: 10px;
  color: grey;
}

.delete-image {
  padding-top: 10px;
  color: red;
}

.upload-image:hover,
.delete-image:hover,
.add-icon:hover,
.display-ingredients:hover,
.display-steps:hover,
.display-tips:hover,
.recipe-functionality-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.display-ingredients-container,
.display-steps-container,
.display-tips-container {
  padding-bottom: 20px;
}

.display-steps-container,
.display-ingredients-container {
  margin-left: 10%;
  margin-right: 10%;
}

.display-steps,
.display-ingredients,
.display-tips {
  overflow-wrap: anywhere;
  padding-top: 15px;
}

.display-ingredients,
.display-tips {
  color: var(--irecipe-secondary);
}

.display-steps {
  color: var(--irecipe-primary);
}

.recipe-name-container {
  padding-bottom: 5px;
  font-family: Alegreya;
}

.tips-container {
  padding-top: 3%;
}

.upload-photo-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.upload-button {
  background-color: var(--irecipe-primary);
  color: white;
  border: none;
}

.remove-button {
  background-color: var(--irecipe-secondary);
  color: white;
  border: none;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  text-align: center;
  color: var(--irecipe-secondary);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  width: 60%;
}

.file-input {
  padding-left: 30%;
}

.irecipe-title {
  font-family: Alegreya;
}

.irecipe-title,
::placeholder,
.add-icon,
.invalid-icon {
  color: var(--irecipe-secondary);
  text-align: center;
  text-transform: uppercase;
}

.ingredient-name-text::placeholder,
.ingredient-name-text,
.recipe-textarea,
.recipe-description-textarea,
.recipe-description-textarea::placeholder,
.recipe-textarea::placeholder {
  color: var(--irecipe-primary) !important;
  text-transform: lowercase;
}

form {
  width: 100%;
}

.input-group-container {
  padding-top: 5vh;
}

.delete-button {
  background-color: var(--irecipe-red);
}

.save-button {
  background-color: var(--irecipe-primary);
  margin: 5vh;
  border: none;
  color: white;
}

.remove-button {
  margin-right: 20px;
  border: none;
  background-color: red;
  border-radius: 5px;
  color: white;
}

.recipe-details-container {
  padding-top: 4%;
}

.recipe-details-container .material-symbols-outlined,
.recipe-details-container .material-icons {
  color: var(--irecipe-primary);
}

.recipe-details-container input {
  border: 1px solid var(--irecipe-secondary);
  border-radius: 20px;
  margin-left: 10px;
}

.recipe-functionality-container {
  padding-top: 4vh;
  padding-bottom: 8vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

.save {
  color: var(--irecipe-primary);
}

.delete {
  color: var(--irecipe-secondary);
}

.recipe-functionality-button {
  padding-left: 20px;
  padding-right: 20px;
}

.recipe-details {
  color: var(--irecipe-primary);
}

input:hover,
textarea:hover {
  cursor: pointer;
}

.invalid-icon {
  color: grey;
  display: block;
}
