<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<div class="recipe-container">
  <div class="irecipe-header">
    <a class="left">
      <button class="add-button btn-sm irecipe-button" routerLink="/main">
        Main Menu
      </button>
    </a>

    <a class="header" *ngIf="isAddMode">Add Recipe</a>
    <a class="header" *ngIf="!isAddMode">Edit Recipe</a>
  </div>
  <form [formGroup]="recipeForm">
    <div class="flex-container">
      <div class="recipe-name">
        <div>
          <span class="material-icons"> public </span>
          <label for="name"
            >Recipe Name
            <input
              type="text"
              class="long"
              name="name"
              formControlName="name"
            />
          </label>
          <div
            class="error-label long"
            *ngIf="
              name?.hasError('required') && recipeForm.controls['name'].touched
            "
          >
            Recipe name is required
          </div>
          <div
            class="error-label long"
            *ngIf="
              name?.hasError('minlength') && recipeForm.controls['name'].touched
            "
          >
            Recipe name has to be longer than 4 characters
          </div>
          <div
            class="error-label long"
            *ngIf="
              name?.hasError('maxlength') && recipeForm.controls['name'].touched
            "
          >
            Recipe name cannot be longer than 20 characters
          </div>
        </div>
      </div>

      <div class="author-name">
        <span class="material-icons"> person </span>
        <label for="author"
          >Recipe Author
          <input
            type="text"
            class="long"
            name="author"
            formControlName="author"
          />
        </label>
        <div
          class="error-label long"
          *ngIf="
            author?.hasError('required') &&
            recipeForm.controls['author'].touched
          "
        >
          Author name is required
        </div>
        <div
          class="error-label long"
          *ngIf="
            author?.hasError('minlength') &&
            recipeForm.controls['author'].touched
          "
        >
          Author name has to be longer than 4 characters
        </div>
        <div
          class="error-label long"
          *ngIf="
            author?.hasError('maxlength') &&
            recipeForm.controls['author'].touched
          "
        >
          Author name cannot be longer than 20 characters
        </div>
      </div>

      <!-- <div class="recipe-types-container">
        <div class="fl">
          <div formArrayName="recipeTypes">
            <div *ngFor="let types of recipeTypes.controls; let i = index">
              <div
                class="recipe-type-container"
                [formArrayName]="i"
                class="flex-item"
              >
                {{ i + 1 }}
                <button
                  class="delete-button btn-danger btn-sm"
                  (click)="deleteRecipeType(i)"
                >
                  X
                </button>
              </div>
            </div>
          </div>
        </div>

        <select #recipeType (change)="onSelectedRecipeType(recipeType.value)">
          <option *ngFor="let type of recipeTypesArray">{{ type }}</option>
        </select>
      </div>-->
    </div>

    <div class="ingredients-container">
      <h4>Ingredients:</h4>
      <div
        class="error-label extra-long"
        *ngIf="
          ingredients?.hasError('required') &&
          recipeForm.controls['ingredients'].touched
        "
      >
        At least one ingredient is required for a recipe.
      </div>
      <ng-container formArrayName="ingredients">
        <ng-container
          *ngFor="let ingredient of ingredients.controls; let i = index"
        >
          <div class="ingredient-container" [formArrayName]="i">
            <div class="ingredient-row">
              {{ i + 1 }}
              <input formControlName="name" type="text" placeholder="Name" />
              <a
                class="error-label extra-long"
                *ngIf="
                  ingredients.controls[i].get('name')?.hasError('required') &&
                  ingredients.controls[i].get('name')?.touched
                "
              >
                Ingredient name is required.
              </a>
              <a
                class="error-label extra-long"
                *ngIf="
                  ingredients.controls[i].get('name')?.hasError('minlength') &&
                  ingredients.controls[i].get('name')?.touched
                "
              >
                Ingredient name has to be longer than 3 characters.
              </a>
              <a
                class="error-label extra-long"
                *ngIf="
                  ingredients.controls[i].get('name')?.hasError('maxlength') &&
                  ingredients.controls[i].get('name')?.touched
                "
              >
                Ingredient name cannot be longer than 20 characters.
              </a>
            </div>
            <div class="ingredient-row">
              <input
                formControlName="weight"
                type="text"
                placeholder="Weight"
              />
              <a
                class="error-label extra-long"
                *ngIf="
                  ingredients.controls[i].get('weight')?.hasError('required') &&
                  ingredients.controls[i].get('weight')?.touched
                "
              >
                Ingredient weight is required for an successful recipe.
              </a>
            </div>

            <div class="ingredient-row">
              <input
                formControlName="metricUnit"
                type="text"
                placeholder="Metric Unit"
              />
              <a
                class="error-label extra-long"
                *ngIf="
                  ingredients.controls[i]
                    .get('metricUnit')
                    ?.hasError('required') &&
                  ingredients.controls[i].get('metricUnit')?.touched
                "
              >
                A metric unit of weight is required for an accurate recipe.
              </a>
            </div>

            <button
              [disabled]="i == 0"
              class="delete-button btn-danger irecipe-button btn-sm"
              (click)="deleteIngredient(i)"
            >
              X
            </button>
          </div>
        </ng-container>
      </ng-container>

      <button
        class="add-button btn-lg irecipe-button"
        (click)="addIngredient()"
      >
        Add Ingredient
      </button>
    </div>

    <div class="steps-container">
      <h4>Steps:</h4>
      <ng-container formArrayName="steps">
        <ng-container *ngFor="let step of steps.controls; let i = index">
          <div class="step-container" [formArrayName]="i">
            {{ i + 1 }}
            <input
              formControlName="step"
              class="extra-long"
              type="text"
              placeholder="step"
            />
            <div
              class="error-label extra-long"
              *ngIf="
                steps.controls[0].get('step')?.hasError('required') &&
                steps.controls[0].get('step')?.touched &&
                i == 0
              "
            >
              At least one step is required for a recipe!
            </div>
            <div
              class="error-label extra-long"
              *ngIf="
                steps.controls[i].get('step')?.hasError('minlength') &&
                steps.controls[i].get('step')?.touched
              "
            >
              At least one step is required for a recipe!
            </div>
            <button
              [disabled]="i == 0"
              class="delete-button btn-danger btn-sm irecipe-button"
              (click)="deleteStep(i)"
            >
              X
            </button>
          </div>
        </ng-container>
      </ng-container>

      <button class="add-button btn-lg irecipe-button" (click)="addStep()">
        Add Step
      </button>
    </div>

    <div class="tips-container">
      <h4>Tips:</h4>
      <ng-container formArrayName="tips">
        <ng-container *ngFor="let tip of tips.controls; let i = index">
          <div class="tip-container" [formArrayName]="i">
            {{ i + 1 }}
            <input
              formControlName="tip"
              type="text"
              class="extra-long"
              placeholder="tip"
            />
            <button
              class="delete-button btn-danger btn-sm irecipe-button"
              (click)="deleteTip(i)"
            >
              X
            </button>
          </div>
        </ng-container>
      </ng-container>

      <button class="add-button btn-lg irecipe-button" (click)="addTip()">
        Add Tip
      </button>
    </div>

    <div class="input-group-container">
      <a class="input-field-container">
        <span class="material-symbols-outlined"> monitoring </span>
        <label for="calories"
          >Calories
          <input
            type="text"
            name="calories"
            formControlName="calories"
            placeholder="kkcal"
          />
        </label>
        <a
          class="error-label long"
          *ngIf="
            calories?.hasError('pattern') &&
            recipeForm.controls['calories'].touched
          "
        >
          Please only enter numbers.
        </a>
      </a>
      <a class="input-field-container">
        <span class="material-icons"> timer </span>
        <label for="estimatedTime"
          >Estimated Time to Make
          <input
            type="text"
            name="estimatedTime"
            placeholder="min"
            formControlName="estimatedTime"
          />
        </label>
        <a
          class="error-label long"
          *ngIf="
            estimatedTime?.hasError('pattern') &&
            recipeForm.controls['estimatedTime'].touched
          "
        >
          Please only enter numbers.
        </a>
      </a>
      <a class="input-field-container">
        <span class="material-symbols-outlined"> groups </span>
        <label for="portions"
          >Estimated portions
          <input
            type="text"
            name="portions"
            placeholder="portions"
            formControlName="portions"
          />
        </label>
        <a
          class="error-label long"
          *ngIf="
            portions?.hasError('pattern') &&
            recipeForm.controls['portions'].touched
          "
        >
          Please only enter numbers.
        </a>
      </a>
      <div>
        <button
          [disabled]="recipeForm.invalid"
          (click)="onSubmit()"
          type="submit"
          class="save-button btn-lg irecipe-button"
        >
          Save Recipe
        </button>
        <button
          *ngIf="!isAddMode"
          (click)="deleteRecipe()"
          class="delete-button btn-lg irecipe-button"
        >
          Delete Recipe
        </button>
      </div>
    </div>
  </form>
</div>
