<div class="recipe-container">
  <form [formGroup]="recipeForm">
    <div class="recipe-name-container">
      <label for="name">
        <input
          type="text"
          class="recipe-name bold"
          name="name"
          placeholder="Recipe Name"
          formControlName="name"
        />
      </label>
      <div
        class="error-label"
        *ngIf="
          name?.hasError('required') && recipeForm.controls['name'].touched
        "
      >
        Recipe name is required
      </div>
      <div
        class="error-label"
        *ngIf="
          name?.hasError('minlength') && recipeForm.controls['name'].touched
        "
      >
        Recipe name has to be longer than 3 characters
      </div>
      <div
        class="error-label"
        *ngIf="
          name?.hasError('maxlength') && recipeForm.controls['name'].touched
        "
      >
        Recipe name cannot be longer than 20 characters
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="ingredients-container">
          <div class="recipe-section-header">Ingredients:</div>

          <ng-container formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredients.controls; let i = index">
              <div *ngIf="i == ingredients.controls.length - 1">
                <ng-container [formArrayName]="i">
                  <div class="ingredient-container">
                    <div class="ingredient-row">
                      <input
                        class="input ingredient-name-text"
                        formControlName="name"
                        type="text"
                        placeholder="Name"
                      />
                      <div
                        class="error-label"
                        *ngIf="
                          ingredients.controls[i]
                            .get('name')
                            ?.hasError('required') &&
                          ingredients.controls[i].get('name')?.touched
                        "
                      >
                        Ingredient name is required.
                      </div>
                      <div
                        class="error-label"
                        *ngIf="
                          ingredients.controls[i]
                            .get('name')
                            ?.hasError('minlength') &&
                          ingredients.controls[i].get('name')?.touched
                        "
                      >
                        Ingredient name has to be longer than 2 characters.
                      </div>
                      <div
                        class="error-label"
                        *ngIf="
                          ingredients.controls[i]
                            .get('name')
                            ?.hasError('maxlength') &&
                          ingredients.controls[i].get('name')?.touched
                        "
                      >
                        Ingredient name cannot be longer than 20 characters.
                      </div>
                    </div>
                    <div class="ingredient-row">
                      <input
                        formControlName="weight"
                        type="text"
                        class="input ingredient-name-text"
                        placeholder="Weight"
                      />
                      <div
                        class="error-label"
                        *ngIf="
                          ingredients.controls[i]
                            .get('weight')
                            ?.hasError('required') &&
                          ingredients.controls[i].get('weight')?.touched
                        "
                      >
                        Ingredient weight is required for an successful recipe.
                      </div>
                    </div>

                    <div class="ingredient-row">
                      <input
                        class="input ingredient-name-text"
                        formControlName="metricUnit"
                        type="text"
                        placeholder="Metric Unit"
                      />
                      <div
                        class="error-label"
                        *ngIf="
                          ingredients.controls[i]
                            .get('metricUnit')
                            ?.hasError('required') &&
                          ingredients.controls[i].get('metricUnit')?.touched
                        "
                      >
                        A metric unit of weight is required for an accurate
                        recipe.
                      </div>
                    </div>
                  </div>

                  <div>
                    <div (click)="addIngredient()" class="add-icon">
                      <span class="material-symbols-outlined">
                        add_circle
                      </span>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="display-ingredients-container">
              <div
                *ngFor="let ingredient of ingredients.controls; let i = index"
              >
                <div
                  class="display-ingredients"
                  (click)="deleteIngredient(i)"
                  *ngIf="i < ingredients.controls.length - 1"
                >
                  {{ ingredient.get("weight")?.value }}
                  {{ ingredient.get("metricUnit")?.value }}
                  {{ ingredient.get("name")?.value }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="upload-photo-container">
          <div class="recipe-section-header">Upload Photo</div>
          <div *ngIf="!fileUploaded; then showUpload; else showImage"></div>

          <ng-template #showUpload>
            <div class="file-input">
              <label
                (change)="onChange($event)"
                class="custom-file-upload form-control"
              >
                <input type="file" />
                Click to add photo
              </label>
            </div>
            <div>
              <button
                (click)="onUpload()"
                class="recipe-button btn-lg upload-button"
              >
                Upload {{ fileName }}
              </button>
            </div>
          </ng-template>

          <ng-template #showImage>
            <img class="irecipe-image" [src]="recipeImage" />
            <div>
              <button
                (click)="onDeleteImage()"
                class="irecipe-button btn-lg remove-button"
              >
                Delete Image
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="steps-container">
          <div class="recipe-section-header">Steps:</div>
          <ng-container formArrayName="steps">
            <ng-container *ngFor="let step of steps.controls; let i = index">
              <div *ngIf="i == steps.controls.length - 1">
                <div class="step-container" [formArrayName]="i">
                  <textarea
                    formControlName="step"
                    class="input recipe-textarea"
                    type="text"
                    placeholder="step"
                  ></textarea>
                  <div
                    class="error-label"
                    *ngIf="
                      steps.controls[0].get('step')?.hasError('required') &&
                      steps.controls[0].get('step')?.touched &&
                      i == 0
                    "
                  >
                    At least one step is required for a recipe!
                  </div>
                  <div
                    class="error-label"
                    *ngIf="
                      steps.controls[i].get('step')?.hasError('minlength') &&
                      steps.controls[i].get('step')?.touched
                    "
                  >
                    At least one step is required for a recipe!
                  </div>

                  <div (click)="addStep()" class="add-icon">
                    <span class="material-symbols-outlined"> add_circle </span>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="display-steps-container">
              <div *ngFor="let step of steps.controls; let i = index">
                <div
                  (click)="deleteStep(i)"
                  class="display-steps"
                  *ngIf="i < steps.controls.length - 1"
                >
                  {{ step.get("step")?.value }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="tips-container">
      <div class="recipe-section-header">Tips:</div>
      <ng-container formArrayName="tips">
        <ng-container *ngFor="let tip of tips.controls; let i = index">
          <div *ngIf="i == tips.controls.length - 1">
            <div class="tip-container" [formArrayName]="i">
              <textarea
                formControlName="tip"
                type="text"
                class="input recipe-textarea"
                placeholder="tip"
              ></textarea>
            </div>
            <div (click)="addTip()" class="add-icon">
              <span class="material-symbols-outlined"> add_circle </span>
            </div>
          </div>
        </ng-container>

        <div class="display-tips-container">
          <div *ngFor="let tip of tips.controls; let i = index">
            <div
              class="display-tips"
              (click)="deleteTip(i)"
              *ngIf="i < tips.controls.length - 1"
            >
              {{ tip.get("tip")?.value }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="recipe-details-container">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div>
            <span class="material-symbols-outlined"> monitoring </span>
            <label class="recipe-details" for="calories"
              >Calories
              <input
                class="details-container"
                type="text"
                name="calories"
                formControlName="calories"
                placeholder="kkcal"
              />
            </label>
            <div
              class="error-label"
              *ngIf="
                calories?.hasError('pattern') &&
                recipeForm.controls['calories'].touched
              "
            >
              Please only enter numbers.
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6 col-sm-12">
          <span class="material-icons"> timer </span>
          <label class="recipe-details" for="estimatedTime"
            >Estimated Time
            <input
              class="details-container"
              type="text"
              name="estimatedTime"
              placeholder="min"
              formControlName="estimatedTime"
            />
          </label>
          <div
            class="error-label"
            *ngIf="
              estimatedTime?.hasError('pattern') &&
              recipeForm.controls['estimatedTime'].touched
            "
          >
            Please only enter numbers.
          </div>
        </div>

        <div class="col-xl-4 col-md-6 col-sm-12">
          <div>
            <label class="recipe-details" for="portions">
              <span class="material-symbols-outlined"> groups </span>Portions
              <input
                class="details-container"
                type="text"
                name="portions"
                placeholder="portions"
                formControlName="portions"
              />
            </label>
          </div>
          <div
            class="error-label"
            *ngIf="
              portions?.hasError('pattern') &&
              recipeForm.controls['portions'].touched
            "
          >
            Please only enter numbers.
          </div>
        </div>
      </div>
    </div>

    <div class="recipe-functionality-container">
      <div class="recipe-functionality-button save">
        <span
          (click)="onSubmit()"
          type="submit"
          class="icon-large material-icons"
        >
          save
        </span>
        <div>Save recipe</div>
      </div>

      <div class="recipe-functionality-button delete" *ngIf="!isAddMode">
        <span
          (click)="deleteRecipe()"
          class="icon-large material-symbols-outlined"
        >
          delete
        </span>
        <div>Delete recipe</div>
      </div>
    </div>
  </form>
</div>
