@media screen and (max-width: 1800px) {
  .recipe-section-header {
    font-size: 48px !important;
  }
  .recipe-image {
    width: 500px;
  }

  input[type="text"] {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .recipe-section-header {
    font-size: 36px !important;
  }

  .recipe-image {
    width: 400px;
  }

  input[type="text"] {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .recipe-section-header {
    font-size: 28px !important;
  }

  .recipe-image {
    width: 300px;
  }
  input[type="text"] {
    font-size: 16px;
  }
}

.recipe-container {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.details-container {
  width: 150px;
}

.recipe-name-container {
  padding-bottom: 3%;
}

.tips-container {
  padding-top: 3%;
}

.upload-button {
  background-color: var(--irecipe-primary);
  color: white;
  border: none;
}

.remove-button {
  background-color: var(--irecipe-secondary);
  color: white;
  border: none;
}

input[type="text"] {
  margin-left: 2vw;
  border: none;
  text-align: center;
  color: var(--irecipe-secondary);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  width: 60%;
}

.file-input {
  padding-left: 30%;
  min-height: 15vh;
}

.recipe-section-header,
::placeholder,
.add-icon {
  color: var(--irecipe-secondary);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.ingredient-text::placeholder,
.ingredient-text {
  color: var(--irecipe-primary) !important;
}

form {
  width: 100%;
}

.input-group-container {
  padding-top: 5vh;
}

.recipe-details-container {
  padding-top: 4%;
}

.material-symbols-outlined {
  font-size: 32px;
}

.material-symbols-outlined:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.delete-button {
  margin-left: 2vw;
  background-color: var(--irecipe-red);
}

.save-button {
  background-color: var(--irecipe-primary);
  margin: 5vh;
  border: none;
  color: white;
}
