@media screen and (max-width: 1800px) {
  .recipe-section-header {
    font-size: 40px !important;
    margin-bottom: 40px;
  }

  .recipe-name {
    font-size: 85px;
    width: 700px;
  }

  .icon-large {
    font-size: 60px !important;
  }

  .material-symbols-outlined,
  .material-icons {
    font-size: 35px;
  }

  .display-tips-container {
    margin-left: 25%;
    margin-right: 25%;
  }

  .ingredient-name-text {
    font-size: 20px;
  }

  .display-ingredients,
  .display-steps,
  .display-tips {
    font-size: 20px;
    padding-top: 15px;
  }

  .recipe-textarea {
    width: 300px;
    height: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .recipe-section-header {
    font-size: 32px !important;
    margin-bottom: 25px;
  }

  .recipe-name {
    font-size: 65px;
    width: 500px;
  }

  .icon-large {
    font-size: 40px !important;
  }

  .material-symbols-outlined,
  .material-icons {
    font-size: 28px;
  }

  .display-ingredients,
  .display-steps,
  .display-tips {
    font-size: 16px;
    padding-top: 12px;
  }

  .ingredient-name-text {
    font-size: 16px;
  }

  .recipe-textarea {
    width: 300px;
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .recipe-section-header {
    font-size: 24px !important;
    margin-bottom: 10px;
  }

  .recipe-name {
    font-size: 50px;
    width: 350px;
  }

  .icon-large {
    font-size: 20px !important;
  }

  .material-symbols-outlined,
  .material-icons {
    font-size: 22px;
  }

  .display-tips-container {
    margin-left: 15%;
    margin-right: 10%;
  }

  .display-tips-container {
    margin-left: 15%;
    margin-right: 15%;
  }

  .display-ingredients,
  .display-steps,
  .display-tips {
    font-size: 12px;
    padding-top: 8px;
  }

  .ingredient-name-text {
    font-size: 12px;
  }

  .recipe-textarea {
    width: 400px;
    height: 150px;
  }
}

.recipe-container {
  background-color: var(--irecipe-dark);

  padding-top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.details-container {
  width: 150px;
}

.add-icon {
  padding-top: 1%;
  margin-left: 10px;
}

textarea {
  padding: 10px;
  border: 1px solid var(--irecipe-secondary);
  border-radius: 20px;
  background-color: transparent;
  color: var(--irecipe-primary);
  resize: none;
}

.display-ingredients-container,
.display-steps-container,
.display-tips-container {
  padding-top: 25px;
}

.display-steps-container,
.display-ingredients-container {
  margin-left: 10%;
  margin-right: 10%;
}

.display-steps,
.display-ingredients,
.display-tips {
  padding-top: 15px;
}

.display-ingredients,
.display-tips {
  color: var(--irecipe-secondary);
}

.display-steps {
  color: var(--irecipe-primary);
}

.recipe-name-container {
  padding-bottom: 3%;
}

.tips-container {
  padding-top: 3%;
}

.upload-photo-container {
  padding-top: 5%;
}

.upload-button {
  background-color: var(--irecipe-primary);
  color: white;
  border: none;
}

.remove-button {
  background-color: var(--irecipe-secondary);
  color: white;
  border: none;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  text-align: center;
  color: var(--irecipe-secondary);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  width: 60%;
}

.file-input {
  padding-left: 30%;
}

.recipe-section-header,
::placeholder,
.add-icon {
  color: var(--irecipe-secondary);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.ingredient-name-text::placeholder,
.ingredient-name-text,
.recipe-textarea,
.recipe-textarea::placeholder {
  color: var(--irecipe-primary) !important;
}

form {
  width: 100%;
}

.input-group-container {
  padding-top: 5vh;
}

.delete-button {
  background-color: var(--irecipe-red);
}

.save-button {
  background-color: var(--irecipe-primary);
  margin: 5vh;
  border: none;
  color: white;
}

.display-ingredients:hover,
.display-steps:hover,
.display-tips:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.remove-button {
  margin-right: 20px;
  border: none;
  background-color: red;
  border-radius: 5px;
  color: white;
}
.material-symbols-outlined:hover,
.material-icons:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.recipe-details-container {
  padding-top: 4%;
}

.recipe-details-container .material-symbols-outlined,
.recipe-details-container .material-icons {
  color: var(--irecipe-primary);
}

.recipe-details-container input {
  border: 1px solid var(--irecipe-secondary);
  border-radius: 20px;
  margin-left: 10px;
}

.recipe-details-container label {
  color: white;
}

.recipe-functionality-container {
  padding-top: 4vh;
  padding-bottom: 8vh;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
.save {
  color: var(--irecipe-primary);
}

.delete {
  color: var(--irecipe-secondary);
}

.recipe-functionality-button {
  padding-left: 20px;
  padding-right: 20px;
}

.recipe-details {
  font-family: AlegreyaBold;
}
