.menu-container {
  font-size: 1vw;
}

li:hover {
  transform: scale(1.05);
}

ul {
  padding-inline-start: 0px !important;
}

.menu-item {
  padding: 1vw 1vw 1vw 1vw;
}

.menu-item:hover {
  background-color: #7dc2ae;
  cursor: pointer;
}

.active {
  background-color: #e8a87c;
}

.material-icons.md-16 {
  font-size: 3vh;
  display: inline-block;
  vertical-align: -0.7vh;
  padding-left: 0.5vw;
}

.add-recipe-button {
  background-color: #7dc2ae;
  margin: auto;
  display: flex;
  font-size: 1.5vw;
}

li {
  display: block;
}
