<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="menu-container">
  <ul>
    <li
      class="menu-item"
      (click)="onSelectMenuOption(i)"
      [ngClass]="{ active: selectedMenuOption == i }"
      *ngFor="let m of menu; let i = index"
    >
      {{ m }}
      <ng-template [ngIf]="i == 0">
        <span class="material-icons md-16"> dashboard </span>
      </ng-template>
      <ng-template [ngIf]="i == 1">
        <span class="material-icons md-16"> favorite </span>
      </ng-template>
      <ng-template [ngIf]="i == 2">
        <span class="material-icons md-16"> thumb_up </span>
      </ng-template>
      <ng-template [ngIf]="i == 3">
        <span class="material-icons md-16"> watch_later </span>
      </ng-template>
    </li>
  </ul>
</div>

<div>
  <button class="add-recipe-button btn-lg" routerLink="/recipe">
    Add Recipe!
  </button>
</div>
