.recipe-cards-container {
  display: inline-flex;
}

.no-recipes {
  text-align: center;
  margin-top: 10%;
}

.irecipe-button {
  background-color: var(--irecipe-green);
}

.irecipe-container {
  display: flex;
}

.irecipe-section {
  flex: 1;
}

.irecipe-main {
  flex: 5;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px #e4e4e4;
  margin: 2%;
  padding: 2%;
}

.irecipe-header {
  text-align: center;
}
