.no-recipes {
  text-align: center;
  margin-top: 10%;
}

.irecipe-button {
  background-color: var(--irecipe-green);
}

.irecipe-container {
  display: flex;
}

.irecipe-section {
  flex: 1;
  box-shadow: 0 0 10px #e4e4e4;
}

.irecipe-main {
  flex: 5;
  padding: 2%;
  margin: 2%;
}

.row {
  justify-content: center;
}

.header {
  padding-left: 2vw;
  padding-top: 2vh;
  font-size: 2.5rem;
  text-align: center;
}
