@media screen and (max-width: 1800px) {
  .view-comment-container {
    width: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .view-comment-container {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .view-comment-container {
    width: 350px;
  }
}

.view-comment-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-author {
  text-align: left;
  color: var(--irecipe-primary);
  font-family: Alegreya;
}

.comment {
  color: var(--irecipe-secondary);
  text-align: left;
  overflow-wrap: anywhere;
  font-size: 16px;
}

.material-symbols-outlined {
  vertical-align: -0.25em;
}

.comment-time,
.comment-delete {
  color: grey;
  text-align: right;
  font-size: 12px;
}

.comment-delete:hover {
  cursor: pointer;
  transform: scale(1.05);
}
