@media screen and (max-width: 1800px) {
  .irecipe-login-form {
    padding: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .irecipe-login-form {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .irecipe-login-form {
    padding: 30px;
  }
}

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--irecipe-dark);

  padding: 2%;
}

.irecipe-heading {
  text-align: center;
  color: white;
  padding-top: 50px;
}

.irecipe-login-form {
  background-color: white;
  border-radius: 30px;
}
