<div class="login-page-container">
  <div class="irecipe-heading">
    <div>
      <h2 class="irecipe-logo bold">iRecipe</h2>
    </div>

    <div>
      <h4 class="irecipe-header">The world of personal recipes.</h4>
    </div>
  </div>

  <div class="irecipe-login-form">
    <irecipe-login-form
      (userFormData)="login($event)"
      (facebookLogin)="loginWithFacebook()"
      (googleLogin)="loginWithGoogle()"
      [userError]="error"
      formType="login"
    ></irecipe-login-form>
  </div>
</div>
