@media screen and (max-width: 1800px) {
  .discover-intro {
    width: 500px;
  }

  .coming-soon {
    font-size: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .discover-intro {
    width: 250px;
  }

  .coming-soon {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .discover-intro {
    width: 300px;
  }

  .coming-soon {
    font-size: 40px;
  }
}

.discover-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 500px;
}

.irecipe-page-icon {
  color: var(--irecipe-secondary);
}

.discover {
  color: var(--irecipe-secondary);
}

.discover-intro {
  padding-top: 25px;
  text-align: center;
}

.coming-soon {
  padding-top: 100px;
}

.dark {
  color: whitesmoke;
}

.light {
  color: black;
}
