@media screen and (max-width: 1800px) {
  .ingredients,
  .steps,
  .tips,
  .view-recipe-author {
    text-align: left;
    margin-top: 25px;
  }

  .view-recipe-author {
    font-size: 24px;
  }

  .recipe-header {
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
  }

  .view-recipe-section,
  .view-recipe-description,
  .view-recipe-detail {
    font-size: 20px;
  }

  .view-recipe-author-icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .ingredients,
  .steps,
  .tips,
  .view-recipe-author {
    text-align: left;
    margin-top: 25px;
  }

  .view-recipe-author {
    font-size: 20px;
  }

  .recipe-header {
    padding-bottom: 2%;
    padding-left: 25%;
    padding-right: 25%;
  }

  .view-recipe-section,
  .view-recipe-description,
  .view-recipe-detail {
    font-size: 18px;
  }

  .view-recipe-author-icon {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .ingredients,
  .steps,
  .tips,
  .view-recipe-author {
    text-align: center;
    margin-top: 25px;
  }

  .recipe-header {
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .view-recipe-author {
    font-size: 18px;
  }

  .view-recipe-section,
  .view-recipe-description,
  .view-recipe-detail {
    font-size: 16px;
  }

  .view-recipe-author-icon {
    font-size: 22px;
  }
}

.irecipe-container {
  background-color: var(--irecipe-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.view-recipe-author-icon {
  color: var(--irecipe-primary);
}

.view-recipe-author {
  color: var(--irecipe-secondary);
}

.view-recipe-heading {
  color: var(--irecipe-primary);
  text-transform: uppercase;
}

.view-recipe-section {
  color: var(--irecipe-secondary);
  padding-top: 5px;
}

.view-recipe-display {
  width: 80%;
}

.view-recipe-details-container {
  margin-top: 3%;
  color: var(--irecipe-primary);
}

.view-recipe-detail {
  margin-top: 3%;
}

.view-recipe-send-container {
  margin-top: 3%;
}

.view-recipe-functionality-container {
  text-align: center;
}

.add-button {
  width: 8vw;
  min-width: 85px;
  font-size: 16px;
  margin-top: 2vh;
}

.material-symbols-outlined {
  vertical-align: -0.3rem;
  padding-right: 0px;
}

.edit-button {
  background-color: var(--irecipe-primary);
  margin-right: 2vw;
}

.send-button {
  background-color: var(--irecipe-primary);
  margin-left: 2vw;
}

.irecipe-share {
  margin-top: 4vh;
  padding: 2vh;
  text-align: center;
  border-radius: 10px;
  background-color: var(--irecipe-green);
}

.username-input-field {
  margin-top: 2vh;
}

input[type="text"] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  background-color: transparent;
  color: black;
}
