.irecipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.recipe-header {
  padding-bottom: 3%;
}

.ingredients-heading {
  color: var(--irecipe-primary);
  text-transform: uppercase;
}

.recipe-display {
  width: 80%;
}
.add-button {
  width: 8vw;
  min-width: 85px;
  font-size: 16px;
  margin-top: 2vh;
}

.material-symbols-outlined {
  font-size: 5vh;
  vertical-align: -0.5rem;
}

.ingredients,
.steps,
.tips,
.user {
  text-align: left;
  margin-top: 8vh;
}

.edit-button {
  background-color: var(--irecipe-green);
  margin-right: 2vw;
}

.send-button {
  background-color: white;
  margin-left: 2vw;
}

.irecipe-share {
  margin-top: 4vh;
  padding: 2vh;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  background-color: var(--irecipe-green);
}

.username-input-field {
  margin-top: 2vh;
}

input[type="text"] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  background-color: transparent;
  color: black;
}
