@media screen and (max-width: 1800px) {
  .ingredients,
  .steps,
  .tips,
  .view-recipe-author {
    text-align: left;
    margin-top: 25px;
  }

  .view-recipe-author {
    font-size: 24px;
  }

  .icon-large {
    font-size: 60px !important;
  }

  .recipe-header {
    padding-bottom: 3%;
    padding-left: 35%;
    padding-right: 35%;
  }

  .view-recipe-section,
  .view-recipe-description,
  .view-recipe-detail {
    font-size: 20px;
  }

  .view-recipe-author-icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .ingredients,
  .steps,
  .tips,
  .view-recipe-author {
    text-align: left;
    margin-top: 25px;
  }

  .view-recipe-author {
    font-size: 20px;
  }

  .icon-large {
    font-size: 40px !important;
  }

  .recipe-header {
    padding-bottom: 2%;
    padding-left: 25%;
    padding-right: 25%;
  }

  .view-recipe-section,
  .view-recipe-description,
  .view-recipe-detail {
    font-size: 18px;
  }

  .view-recipe-author-icon {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .ingredients,
  .steps,
  .tips,
  .view-recipe-author {
    text-align: center;
    margin-top: 25px;
  }

  .recipe-header {
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .icon-large {
    font-size: 30px !important;
  }

  .view-recipe-author {
    font-size: 18px;
  }

  .view-recipe-section,
  .view-recipe-description,
  .view-recipe-detail {
    font-size: 16px;
  }

  .view-recipe-author-icon {
    font-size: 22px;
  }
}

.irecipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.view-recipe-author-icon {
  color: var(--irecipe-primary);
}

.view-recipe-author {
  color: var(--irecipe-secondary);
}

.view-recipe-heading {
  color: var(--irecipe-primary);
  text-transform: uppercase;
}

.view-recipe-section {
  color: var(--irecipe-secondary);
  padding-top: 5px;
}

.view-recipe-display {
  width: 80%;
}

.view-recipe-details-container {
  margin-top: 3%;
  color: var(--irecipe-primary);
}

.view-recipe-detail {
  margin-top: 3%;
}

.view-recipe-send-container {
  margin-top: 3%;
}

.view-recipe-functionality-container {
  padding-top: 4vh;

  display: flex;
  text-align: center;
  justify-content: center;
}

.add-button {
  width: 8vw;
  min-width: 85px;
  font-size: 16px;
  margin-top: 2vh;
}

.material-symbols-outlined {
  vertical-align: -0.3rem;
  padding-right: 0px;
}

.edit-button {
  background-color: var(--irecipe-primary);
  margin-right: 2vw;
}

.send-button {
  background-color: var(--irecipe-primary);
  margin-left: 2vw;
}

.irecipe-share {
  margin-top: 4vh;
  padding: 2vh;
  text-align: center;
  border-radius: 10px;
  background-color: var(--irecipe-green);
}

.username-input-field {
  margin-top: 2vh;
}

input[type="text"] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  background-color: transparent;
  color: black;
}

.recipe-functionality-button {
  padding-left: 20px;
  padding-right: 20px;
}

.recipe-functionality-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.save {
  color: var(--irecipe-primary);
}

.favorite {
  color: var(--irecipe-primary);
}

.delete {
  color: var(--irecipe-secondary);
}

.light {
  color: black;
}

.dark {
  color: white;
}

.functionality-icons-container {
  color: var(--irecipe-primary);
  text-align: left;
}

.comments {
  margin-top: 55px;
  padding-bottom: 8vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.add-comment-button {
  text-align: right;
  color: var(--irecipe-primary);
}

.add-comment-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.add-comment {
  padding-top: 40px;
}

.user-comment,
textarea {
  width: 700px;
}
