<div class="irecipe-container" *ngIf="recipe">
  <div class="recipe-header">
    <div class="irecipe-name bold">
      {{ recipe.name }}
      <div class="view-recipe-description">{{ recipe.description }}</div>
    </div>
  </div>

  <div class="view-recipe-display">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img class="irecipe-image" [src]="recipeImage" />
      </div>

      <div class="col-lg-6 col-sm-12">
        <div
          [routerLink]="['/profile', recipe.authorId]"
          class="view-recipe-author"
        >
          <span class="material-symbols-outlined view-recipe-author-icon">
            account_circle
          </span>
          {{ recipe.author }}
        </div>

        <div class="functionality-icons-container">
          {{ recipe.likedBy.length }}
          <span
            (click)="toggleLike()"
            *ngIf="!like"
            class="material-icons-outlined functionality-icons"
          >
            thumb_up
          </span>
          <span
            (click)="toggleLike()"
            *ngIf="like"
            class="material-icons functionality-icons"
          >
            thumb_up
          </span>

          <a [href]="'/view-recipe/' + recipe.id + '#comments'">
            {{ recipe.comments.length }}
            <span class="material-icons functionality-icons">
              chat_bubble_outline
            </span>
          </a>
        </div>

        <div class="ingredients">
          <div class="irecipe-title bold view-recipe-heading">Ingredients</div>

          <div
            class="view-recipe-section"
            *ngFor="let ingredient of recipe.ingredients"
          >
            {{ ingredient.weight }} {{ ingredient.metricUnit }}
            {{ ingredient.name }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 steps">
        <div class="irecipe-title bold view-recipe-heading">Steps</div>

        <div class="view-recipe-section" *ngFor="let step of recipe.steps">
          {{ step.step }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 tips">
        <div class="irecipe-title bold view-recipe-heading">Tips</div>

        <div class="view-recipe-section" *ngFor="let tip of recipe.tips">
          {{ tip.tip }}
        </div>
      </div>
    </div>

    <div class="view-recipe-details-container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 view-recipe-detail">
          <span class="material-symbols-outlined"> monitoring </span>
          Calories: {{ recipe.calories }} KKCAL
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 view-recipe-detail">
          <span class="material-icons"> timer </span>
          Estimated time: {{ recipe.estimatedTime }} min.
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 view-recipe-detail">
          <span class="material-symbols-outlined"> groups </span>
          Portions: {{ recipe.portions }}
        </div>
      </div>
    </div>

    <div class="view-recipe-send-container">
      <div class="irecipe-share" [ngClass]="currentColorTheme">
        Want to share this recipe with another user?
        <br />
        Enter their username and we'll take care of the rest!

        <div class="username-input-field">
          <label for="username">
            <input
              type="text"
              name="username"
              [formControl]="usernameControl"
              placeholder="username"
            />
          </label>
          <button
            [disabled]="usernameControl.invalid"
            class="irecipe-button send-button btn-sm"
            (click)="sendRecipe()"
          >
            Send Recipe
          </button>
          <div class="error-container">
            <ng-container
              *ngIf="usernameControl?.invalid && usernameControl?.touched"
            >
              <div
                class="error-label"
                *ngIf="
                  usernameControl?.hasError('doesNotExist') &&
                  usernameControl.touched
                "
              >
                Username does not exist.
              </div>
              <div
                class="error-label"
                *ngIf="
                  usernameControl?.hasError('cantUseOwnUsername') &&
                  usernameControl.touched
                "
              >
                You cannot send a recipe to yourself. Please enter another
                persons username!
              </div>
            </ng-container>
          </div>
          <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
            *ngIf="showSuccessMessage"
          >
            <strong>Holy guacamole!</strong> You have successfully sent the
            recipe
            <button
              (click)="onCloseSuccessMessage()"
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="view-recipe-functionality-container">
      <div
        *ngIf="userIsAuthor; then showEditAndDelete; else showFavorite"
      ></div>

      <ng-template #showEditAndDelete>
        <div class="recipe-functionality-button save">
          <span
            routerLink="/recipe/{{ recipe.id }}"
            class="icon-large material-symbols-outlined"
          >
            edit
          </span>
          <div>Edit recipe</div>
        </div>

        <div class="recipe-functionality-button delete">
          <span
            (click)="deleteRecipe()"
            class="icon-large material-symbols-outlined"
          >
            delete
          </span>
          <div>Delete recipe</div>
        </div>
      </ng-template>

      <ng-template #showFavorite>
        <div
          (click)="toggleFavorite()"
          class="recipe-functionality-button favorite"
        >
          <span *ngIf="!isFavorite" class="icon-large material-icons"
            >favorite_border
          </span>
          <span *ngIf="isFavorite" class="icon-large material-icons"
            >favorite
          </span>

          <div>Favorite</div>
        </div>
      </ng-template>
    </div>

    <div id="comments" class="comments">
      <div class="irecipe-title bold view-recipe-heading">Comments</div>
      <irecipe-view-comment
        (commentToDelete)="onDeleteComment($event)"
        [comment]="comment"
        *ngFor="let comment of recipe.comments"
      ></irecipe-view-comment>

      <div class="user-comment">
        <textarea placeholder="Comment" [(ngModel)]="comment"></textarea>
        <div (click)="sendComment()" class="add-comment-button">
          <span class="material-symbols-outlined"> check_box </span>
          Add Comment
        </div>
      </div>
    </div>
  </div>
</div>
