<div class="username-input-field">
  <label for="username">
    <div>
      <input
        type="text"
        class="user-search-input"
        name="Search"
        [formControl]="usernameControl"
        placeholder="Search for user"
      />
    </div>
  </label>

  <span (click)="findUser()" class="material-symbols-outlined user-search-icon">
    search
  </span>
  <div class="error-container">
    <ng-container *ngIf="usernameControl?.invalid && usernameControl?.touched">
      <div
        class="error-label"
        *ngIf="
          usernameControl?.hasError('doesNotExist') && usernameControl?.touched
        "
      >
        Username does not exist.
      </div>
    </ng-container>
  </div>
  <div
    (click)="onCloseSuccessMessage()"
    class="user-found"
    [ngClass]="currentColorTheme"
    role="alert"
    *ngIf="showSuccessMessage"
  >
    <div class="user-found-container">
      <span class="username">{{ username }}</span>
      <span
        *ngFor="let star of userRatingArray"
        class="material-symbols-outlined user-icons"
      >
        star_outline
      </span>
      <div *ngIf="user.recipes">Total recipes: {{ user.recipes.length }}</div>
    </div>
  </div>
</div>
