@media screen and(max-width:1800px) {
  .material-symbols-outlined {
    font-size: 32px !important;
  }
}

@media screen and(max-width:1200px) {
  .material-symbols-outlined {
    font-size: 24px;
  }
}

@media screen and(max-width:768) {
  .material-symbols-outlined {
    font-size: 18px;
  }
}

.username-input-field {
  position: relative;
}

.user-found {
  position: absolute;
  left: 35px;
  min-width: 250px;
  border-radius: 10px;
  padding: 15px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid var(--irecipe-secondary) !important ;

  color: white !important;
}

.user-stars {
  text-align: center;
}

.user-icons {
  text-align: center;
}

.user-found:hover {
  transform: scale(1.1);
}

.user-found-container:hover {
  cursor: pointer;
}

.username {
  margin-right: 15px;
  font-family: AlegreyaBold !important;
}

.material-symbols-outlined {
  padding-right: 2px !important;
  vertical-align: -5px;
}

.user-search-input {
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
}

.user-search-input.dark {
  border: 1px solid var(--irecipe-secondary);
}

.user-search-input.light {
  border: 1px solid white;
}

::placeholder {
  color: white;
  font-size: 20px;
}

.error-label {
  color: red;
}

.user-search-icon {
  margin-top: 15px;
  float: left;
  font-size: 32px !important;
}

.user-search-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.error-container {
  position: absolute;
  margin-left: 30px;
}

input:hover {
  cursor: pointer;
}

.light {
  color: white;
  background-color: var(--irecipe-primary);
}

.dark {
  color: white;
  background-color: var(--irecipe-dark);
}

.user-search-icon {
  color: var(--irecipe-primary);
}
