.forget-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--irecipe-primary);
  height: 100vh;
  color: white;
}

.irecipe-forget-password-form {
  background-color: white;
  border-radius: 30px;
  padding: 2%;
  color: black;
}

.irecipe-button {
  background-color: var(--irecipe-secondary);
  color: white;
  float: right;
}

@media screen and (max-width: 1800px) {
  .irecipe-forget-password-form {
    padding: 2%;
  }
}

@media screen and (max-width: 1200px) {
  .irecipe-forget-password-form {
    padding: 4%;
  }
}

@media screen and (max-width: 600px) {
  .irecipe-forget-password-form {
    padding: 6%;
  }
}
