<div class="forget-password-container">
  <a class="irecipe-logo">iRecipe</a>
  <h3 class="irecipe-header">Please enter your associated email below</h3>

  <div class="irecipe-forget-password-form">
    <h2 class="irecipe-header">Forgot your password?</h2>
    <form [formGroup]="emailForm" class="form">
      <div class="form-field">
        <label
          >Email
          <br />
          <input
            class="long irecipe-input-login"
            type="text"
            formControlName="email"
            required
          />
        </label>

        <div class="error-container">
          <ng-container *ngIf="email?.invalid && email?.touched">
            <div
              class="error-label"
              *ngIf="email?.hasError('email') && email?.touched"
            >
              Email isn't valid. Please enter a valid email.
            </div>

            <div
              class="error-label"
              *ngIf="email?.hasError('required') && email?.touched"
            >
              Email is required. Please enter a valid email
            </div>

            <div
              class="error-label"
              *ngIf="email?.hasError('invalidEmail') && email?.touched"
            >
              The email address you entered is not associated with any iRecipe
              account. Please ensure you enter it correctly.
            </div>
          </ng-container>
        </div>

        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
          *ngIf="showSuccessMessage"
        >
          <strong>Hoooray!</strong> You will recieve your password reset email
          shortly
          <button
            (click)="onCloseSuccessMessage()"
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <button
        [disabled]="emailForm.invalid"
        class="irecipe-button btn-lg"
        (click)="sendForgotPasswordEmail()"
      >
        Send
      </button>
    </form>
  </div>
</div>
