<div class="recipes-container">
  <irecipe-profile-header></irecipe-profile-header>
  <div class="recipe-display">
    <div
      *ngIf="recipeSelection.length === 0; then addRecipe; else showRecipes"
    ></div>
    <ng-template #addRecipe>
      <div class="no-recipes">
        <h2>Oh no, it seems like you have no recipes!</h2>
        <button class="irecipe-button btn-lg" routerLink="/main/recipe">
          Add Recipe
        </button>
      </div>
    </ng-template>
    <ng-template #showRecipes>
      <div>
        <div
          class="recipe-cards-container"
          *ngFor="let recipe of recipeSelection"
        >
          <div class="recipe-card">
            <irecipe-recipe-display-card
              [recipe]="recipe"
            ></irecipe-recipe-display-card>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="recipes-container-functionality">
    <div routerLink="/main/recipe" class="functionality-button">
      <span class="material-icons icon-large"> add_circle </span>
      <div>Add Recipe</div>
    </div>

    <div class="functionality-button">
      <span class="material-symbols-outlined icon-large"> edit </span>
      <div>Edit Recipe</div>
    </div>
  </div>
</div>
