@media screen and (max-width: 1800px) {
  .recipe-icons {
    font-size: 32px;
  }
}

@media screen and (max-width: 1200px) {
  .recipe-icons {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .recipe-icons {
    font-size: 18px;
  }
}

.header-menu-heading {
  border-bottom: 1px solid var(--irecipe-secondary);
  margin-left: 5px;
  margin-right: 5px;
}

.header-menu-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-theme-selector:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header-menu-item > .material-symbols-outlined {
  float: left;
  padding-left: 20px;
  padding-right: 0px;
}

.light {
  background-color: var(--irecipe-primary);
  color: black;
}

.dark {
  color: black;
}

.profile-layout-selector:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.username {
  font-family: Alegreya !important;
  font-size: 26px;
  padding-left: 10px;
}

/* Collapsed menu css: */
.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100vh;
  color: var(--irecipe-secondary);
  padding-left: 50px;
}

.settings-header {
  text-align: center;
  font-size: 40px;
  color: var(--irecipe-secondary);
  padding-bottom: 50px;
}

.theme-selector-container,
.layout-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.theme-selector-container > .material-symbols-outlined {
  font-size: 50px;
}

.layout-selector-container > .material-symbols-outlined {
  font-size: 50px;
}

.settings-header > .material-symbols-outlined {
  font-size: 50px !important;
}

.settings-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: var(--irecipe-primary);
}

.active-dark {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.active-light {
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
}
