<div class="display-menu">
  <div class="bold header-menu-heading">User Menu</div>
  <div class="header-menu-item bold">
    <span class="material-symbols-outlined recipe-icons"> account_circle </span>
    Currently logged in as: {{ displayName }}
  </div>
  <div
    (click)="changeColorTheme()"
    class="header-menu-item color-theme-selector"
  >
    <span class="material-symbols-outlined recipe-icons bold"> palette </span>
    <span
      >Change color theme to: <strong>{{ invertedColorTheme }}</strong></span
    >
  </div>
  <div class="profile-layout-selector" (click)="changeProfileLayout()">
    <span
      *ngIf="currentLayout == 'grid'"
      class="material-symbols-outlined recipe-icons bold"
    >
      grid_view
    </span>

    <span
      *ngIf="currentLayout == 'carousel'"
      class="material-symbols-outlined recipe-icons bold"
    >
      view_carousel
    </span>
    Change profile layout to: {{ this.currentLayout }}
  </div>
</div>
