@media screen and (max-width: 1800px) {
  .icon-large {
    font-size: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .icon-large {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .icon-large {
    font-size: 20px;
  }
}

.recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.recipes-container-functionality {
  padding-top: 4vh;
  display: flex;
  text-align: center;
}

.functionality-button {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.functionality-button:hover {
  transform: scale(1.1);
}

.no-recipes {
  text-align: center;
  margin-top: 10%;
  color: white;
}

.irecipe-button {
  color: white;
  background-color: var(--irecipe-primary);
}

.irecipe-main {
  display: flex;
  flex-wrap: wrap;
}

.control-left,
.control-right {
  margin-top: 45%;
}

.control-right {
  padding-left: 0px;
}

.material-symbols-outlined,
.material-icons {
  padding-right: 0px;
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.recipe-card {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-bottom: 0;
}

.row {
  justify-content: center;
  align-items: start;
}

.header {
  padding-left: 2vw;
  padding-top: 2vh;
  font-size: 2.5rem;
  text-align: center;
}

.arrow {
  color: var(--irecipe-secondary);
}
.row {
  flex-wrap: nowrap;
}

.recipes-container-functionality {
  padding-bottom: 250px;
}

.edit {
  color: var(--irecipe-secondary);
}

.add {
  color: var(--irecipe-primary);
}
