@media screen and (max-width: 1800px) {
  .icon-large {
    font-size: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .icon-large {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .icon-large {
    font-size: 20px;
  }
}

.recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 200px;
}

.recipe-card {
  padding: 10px;
  padding-bottom: 0;
  padding-bottom: 20px;
  position: relative;
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
}

.grid-item {
  display: block;
  flex: 1;
}

.recipes-container-functionality {
  padding-top: 4vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 250px;
}

.functionality-button {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.functionality-button:hover {
  transform: scale(1.1);
}

.no-recipes {
  text-align: center;
  margin-top: 10%;
  color: white;
}

.irecipe-button {
  color: white;
  background-color: var(--irecipe-primary);
}

.control-left,
.control-right {
  margin-top: 45%;
}

.control-right {
  padding-left: 0px;
}

.material-symbols-outlined,
.material-icons {
  padding-right: 0px;
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.row {
  justify-content: center;
  align-items: start;
}

.arrow {
  color: var(--irecipe-secondary);
}

.grey-arrow {
  color: grey;
}
.row {
  flex-wrap: nowrap;
}

.edit {
  color: var(--irecipe-secondary);
}

.add {
  color: var(--irecipe-primary);
}

.recipe-icons {
  color: var(--irecipe-secondary);
  text-align: left;
  position: absolute;
  padding-top: 1%;
}

.functionality-icons:hover {
  transform: scale(1.2);
}

.functionality-icons {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
}

.star {
  font-size: 28px;
  padding-left: 5px;
}

.light {
  color: var(--irecipe-primary);
}

.dark {
  color: white;
}
