<div class="recipes-container">
  <irecipe-profile-header
    [userId]="userId"
    [loggedInUserProfile]="loggedInUserProfile"
  ></irecipe-profile-header>

  <div class="profile-filter-container">
    <irecipe-filter
      (filterData)="onFilterRecipes($event)"
      class="filter"
    ></irecipe-filter>
  </div>

  <div
    *ngIf="
      allRecipes?.length != 0 &&
      allRecipes?.length != undefined &&
      profileLayout == 'grid' &&
      loggedInUserProfile
    "
    routerLink="/recipe"
    class="functionality-button add"
  >
    <span class="material-icons icon-large"> add_circle </span>
    <div>Add new recipe</div>
  </div>

  <div class="grid-container" *ngIf="profileLayout == 'grid' && allRecipes">
    <div *ngFor="let recipe of allRecipes" class="recipe-card">
      <irecipe-recipe-display-card
        [recipe]="recipe"
      ></irecipe-recipe-display-card>
    </div>
  </div>

  <div
    class="carousel-container"
    *ngIf="profileLayout == 'carousel' && allRecipes"
  >
    <div class="recipe-display-container">
      <div class="row">
        <div class="col-sm-1 col-lg-1 control-left">
          <span
            *ngIf="allRecipes.length > 1"
            (click)="previousRecipe()"
            class="material-symbols-outlined arrow"
          >
            arrow_back_ios
          </span>
          <span
            *ngIf="allRecipes.length == 1"
            (click)="previousRecipe()"
            class="material-symbols-outlined grey-arrow"
          >
            arrow_back_ios
          </span>
        </div>

        <div class="col-lg-10 col-sm-10">
          <div class="recipe-display">
            <div class="recipe-card">
              <irecipe-recipe-display-card
                [recipe]="recipe"
              ></irecipe-recipe-display-card>
            </div>
          </div>
        </div>

        <div class="col-lg-1 col-sm-1 control-right">
          <div *ngIf="allRecipes">
            <span
              *ngIf="allRecipes.length > 1"
              (click)="nextRecipe()"
              class="material-symbols-outlined arrow"
            >
              arrow_forward_ios
            </span>

            <span
              *ngIf="allRecipes.length == 1"
              (click)="nextRecipe()"
              class="material-symbols-outlined grey-arrow"
            >
              arrow_forward_ios
            </span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="profileLayout == 'carousel'">
      <div *ngIf="!loggedInUserProfile" class="recipes-container-functionality">
        <div
          (click)="toggleFavorite()"
          class="recipe-functionality-button favorite"
        >
          <span *ngIf="!isFavorite" class="icon-large material-icons"
            >favorite_border
          </span>
          <span *ngIf="isFavorite" class="icon-large material-icons"
            >favorite
          </span>

          <div>Favorite</div>
        </div>
      </div>

      <div *ngIf="loggedInUserProfile" class="recipes-container-functionality">
        <div
          *ngIf="allRecipes"
          routerLink="/recipe"
          class="functionality-button add"
        >
          <span class="material-icons icon-large"> add_circle </span>
          <div class="irecipe-text">Add Recipe</div>
        </div>
        <div *ngIf="recipe" class="functionality-button edit">
          <span
            [routerLink]="['/recipe', recipe.id]"
            class="material-symbols-outlined icon-large"
          >
            edit
          </span>
          <div class="irecipe-text">Edit Recipe</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="allRecipes?.length == 0 || !allRecipes" class="no-recipes">
    <h2 *ngIf="loggedInUserProfile" [ngClass]="colorTheme">
      Oh no! :(
      <br />It seems like you have no recipes!
    </h2>
    <h2 *ngIf="!loggedInUserProfile" [ngClass]="colorTheme">
      Oh no! :(
      <br />
      This profile seems to have no recipes yet!
    </h2>
    <div class="functionality-button add">
      <span routerLink="/recipe" class="material-icons icon-large">
        add_circle
      </span>
      <div class="irecipe-text">Add new recipe</div>
    </div>
  </div>

  <div class="total-recipes" *ngIf="profileLayout == 'grid' && allRecipes">
    Showing total of {{ allRecipes.length }} recipes.
  </div>

  <div class="total-recipes" *ngIf="profileLayout == 'carousel' && allRecipes">
    Currently showing {{ recipeIndex + 1 }} of {{ allRecipes.length }} recipes.
  </div>
</div>
