@media screen and (max-width: 1800px) {
  .icon-large {
    font-size: 60px;
  }

  .grid-container {
    flex-direction: row;
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .icon-large {
    font-size: 40px;
  }

  .grid-container {
    flex-direction: row;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .icon-large {
    font-size: 20px;
  }

  .recipe-card {
    padding-top: 30px !important;
  }
}

.recipes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 200px;
}

.recipe-card {
  padding: 10px;
  padding-bottom: 0;
  padding-bottom: 20px;
  width: min-content;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.add-recipe:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.add-recipe {
  color: var(--irecipe-primary);
}

.grid-item {
  display: block;
  flex: 1;
}

.recipes-container-functionality {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 50px;
}

.functionality-button {
  text-align: center;
}

.functionality-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.recipe-functionality-button {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.recipe-functionality-button:hover {
  transform: scale(1.1);
}

.no-recipes {
  text-align: center;
  margin-top: 10%;
  color: white;
}

.irecipe-button {
  color: white;
  background-color: var(--irecipe-primary);
}

.control-left,
.control-right {
  margin-top: 45%;
}

.control-right {
  padding-left: 0px;
}

.material-symbols-outlined,
.material-icons {
  padding-right: 0px;
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.row {
  justify-content: center;
  align-items: start;
}

.arrow {
  color: var(--irecipe-secondary);
}

.grey-arrow {
  color: grey;
}
.row {
  flex-wrap: nowrap;
}

.edit,
.favorite {
  color: var(--irecipe-secondary);
}

.add {
  color: var(--irecipe-primary);
}

.light {
  color: var(--irecipe-primary);
}

.dark {
  color: white;
}

.total-recipes {
  color: var(--irecipe-secondary);
  text-align: center;
  padding-top: 100px;
  margin-bottom: 25px;
}
