<!-- <div class="irecipe-share" [ngClass]="currentColorTheme">
    Want to share this recipe with another user?
    <br />
    Enter their username and we'll take care of the rest!

    <div class="username-input-field">
      <label for="username">
        <input
          type="text"
          name="username"
          [formControl]="usernameControl"
          placeholder="username"
        />
      </label>
      <button
        [disabled]="usernameControl.invalid"
        class="irecipe-button send-button btn-sm"
        (click)="sendRecipe()"
      >
        Send Recipe
      </button>
      <div class="error-container">
        <ng-container *ngIf="username?.invalid && username?.touched">
          <div
            class="error-label"
            *ngIf="
              username?.hasError('doesNotExist') && usernameControl.touched
            "
          >
            Username does not exist.
          </div>
          <div
            class="error-label"
            *ngIf="
              username?.hasError('cantUseOwnUsername') &&
              usernameControl.touched
            "
          >
            You cannot send a recipe to yourself. Please enter another
            persons username!
          </div>
        </ng-container>
      </div>
      <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
        *ngIf="showSuccessMessage"
      >
        <strong>Holy guacamole!</strong> You have successfully sent the
        recipe
        <button
          (click)="onCloseSuccessMessage()"
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div> -->
