@media screen and (max-width: 1800px) {
  .user-icons {
    font-size: 36px;
  }
}

@media screen and (max-width: 1200px) {
  .user-icons {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .user-icons {
    font-size: 24px;
  }
}

.profile-container {
  text-align: center;
}

.irecipe-name {
  line-height: 53px;
}

.primary {
  color: var(--irecipe-primary) !important;
}

.secondary {
  color: var(--irecipe-secondary) !important;
}

.user-icons {
  color: var(--irecipe-primary);
}

.profile-header-user-rating {
  margin-top: 3%;
}
