<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<div class="profile-container irecipe-profile-black">
  <span class="material-symbols-outlined profile-picture">
    account_circle
  </span>
  <div class="irecipe-name">
    {{ username }}
  </div>
  <div>
    <span
      *ngFor="let star of userRatingArray"
      class="material-symbols-outlined user-icons"
    >
      star_outline
    </span>
  </div>
</div>
