.register-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--irecipe-dark);
}

.irecipe-heading {
  text-align: center;
  color: white;
}

.irecipe-register-form {
  background-color: white;
  border-radius: 30px;
}

@media screen and (max-width: 1800px) {
  .irecipe-register-form {
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 1%;
  }
}

@media screen and (max-width: 1200px) {
  .irecipe-register-form {
    padding: 6%;
    padding-top: 2%;
    padding-bottom: 1%;
  }
}

@media screen and (max-width: 600px) {
  .irecipe-register-form {
    padding: 8%;
  }
}
