/* You can add global styles to this file, and also import other style files */

body {
  font-family: Avenir, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

:root {
  --irecipe-orange: #e8a87c;
  --irecipe-green: #7dc2ae;
  --irecipe-red: #c23b22;
  --irecipe-blue: #7abacc;
}

.irecipe-button {
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: none;
}

button:disabled {
  background-color: rgb(68, 68, 68) !important;
  transform: none !important;
}

.irecipe-button:hover {
  transform: scale(1.05);
}

.extra-long {
  width: 45vw;
}

.long {
  width: 15vw;
}

.medium {
  width: 10vw;
}

.error-label {
  background-color: var(--irecipe-red);
  padding-left: 0.5vw;
  border-radius: 5px;
}

.error-container {
  font-size: 1rem;
  margin-bottom: 1vh;
}

.material-icons,
.material-symbols-outlined {
  font-size: 3vh;
  display: inline-block;
  vertical-align: -0.25rem;
  padding-right: 0.5vw;
}

.add-button {
  background-color: var(--irecipe-green);
}

.delete-button {
  background-color: var(--irecipe-red);
}

.logo {
  font-family: pacificoregular;
  font-size: 6vh;
}

.irecipe-input {
  margin-left: 2vw;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.irecipe-header {
  margin-left: 1%;
  text-align: center;
  margin-bottom: 3%;
  border-bottom: 3px solid black;
}
