/* You can add global styles to this file, and also import other style files */

:root {
  /* Input elements */
  --input-long: 350px;
  --input-medium: 250px;
  --input-small: 175px;

  /* Colors */
  --irecipe-secondary: #e8a87c;
  --irecipe-primary: #7ec2ae;
  --irecipe-red: #c23b22;
  --irecipe-dark: #242424;

  /* Font sizes */
  --irecipe-name: 75px;
  --irecipe-logo: 60px;
  --irecipe-title: 48px;
  --irecipe-heading: 24px;
  --irecipe-label: 16px;
}

/* Responsiveness sizing adjustments from variables */
@media screen and (max-width: 1800px) {
  .irecipe-name {
    font-size: var(--irecipe-name);
  }

  .irecipe-logo {
    font-size: var(--irecipe-logo);
  }

  .irecipe-image {
    width: 500px;
  }

  .irecipe-title {
    font-size: var(--irecipe-title);
  }

  .irecipe-header {
    font-size: var(--irecipe-heading);
  }

  .irecipe-icons {
    font-size: var(--irecipe-icons);
  }

  .irecipe-label {
    font-size: var(--irecipe-label);
  }

  .irecipe-text {
    font-size: var(--irecipe-text);
  }

  .irecipe-length {
    width: var(--input-long);
  }
}

@media screen and (max-width: 1200px) {
  .irecipe-name {
    font-size: calc(var(--irecipe-name) * 0.8);
  }

  .irecipe-logo {
    font-size: calc(var(--irecipe-logo) * 0.8);
  }

  .irecipe-image {
    width: 400px;
  }

  .irecipe-title {
    font-size: calc(var(--irecipe-title) * 0.8);
  }

  .irecipe-header {
    font-size: calc(var(--irecipe-heading) * 0.8);
  }

  .irecipe-icons {
    font-size: calc(var(--irecipe-icons) * 0.8);
  }

  .irecipe-label {
    font-size: calc(var(--irecipe-label) * 0.8);
  }

  .irecipe-text {
    font-size: calc(var(--irecipe-text) * 0.8);
  }

  .irecipe-length {
    width: var(--input-medium);
  }
}

@media screen and (max-width: 600px) {
  .irecipe-name {
    font-size: calc(var(--irecipe-name) * 0.5);
  }

  .irecipe-logo {
    font-size: calc(var(--irecipe-logo) * 0.5);
  }

  .irecipe-image {
    width: 300px;
  }

  .irecipe-title {
    font-size: calc(var(--irecipe-title) * 0.5);
  }

  .irecipe-header {
    font-size: calc(var(--irecipe-heading) * 0.5);
  }

  .irecipe-icons {
    font-size: calc(var(--irecipe-icons) * 0.5);
  }

  .irecipe-label {
    font-size: calc(var(--irecipe-label) * 0.5);
  }

  .irecipe-text {
    font-size: calc(var(--irecipe-text) * 0.5);
  }

  .irecipe-length {
    width: var(--input-small);
  }
}

body {
  font-family: AlegreyaBold, "Helvetica Neue", sans-serif !important;
  font-size: var(--irecipe-text) !important;
}

.light {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.irecipe-profile-black {
  font-family: Alegreya;
  line-height: 1;
}

.irecipe-name {
  color: var(--irecipe-secondary);
}

.irecipe-logo {
  font-family: pacificoregular;
}

.irecipe-logo-navbar {
  font-family: pacificoregular;
  font-size: 38px;
}

.irecipe-input-login {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #1a77f0;
}

.irecipe-button {
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: none;
}

button:disabled {
  background-color: rgb(68, 68, 68) !important;
  transform: none !important;
}

.irecipe-button:hover {
  transform: scale(1.05);
}

.extra-long {
  width: 450px;
}

.long {
  width: 350px;
}

.medium {
  width: 250px;
}

.error-label {
  color: red;
  opacity: 0.8;
  padding-left: 0.5vw;
}

.error-container {
  font-size: 1rem;
  margin-bottom: 1vh;
}

.material-icons,
.material-symbols-outlined {
  display: inline-block;
  vertical-align: -0.25rem;
  padding-right: 0.5vw;
}

.add-button {
  background-color: var(--irecipe-green);
}

.delete-button {
  background-color: var(--irecipe-red);
}

.logo {
  font-family: pacificoregular;
}

.irecipe-input {
  margin-left: 2vw;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}
