/* You can add global styles to this file, and also import other style files */

body {
  font-family: Babas !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --irecipe-orange: #e8a87c;
  --irecipe-green: #7dc2ae;
  --irecipe-red: #c23b22;
  --irecipe-blue: #7abacc;
}

.irecipe-button {
  border-radius: 20px;
  padding: 0 50px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: transparent;
  border: 1px solid #fff;
}

.irecipe-button:hover {
  transform: scale(1.05);
}

.extra-long {
  width: 45vw;
}

.long {
  width: 15vw;
}

.medium {
  width: 10vw;
}

.error-label {
  background-color: var(--irecipe-red);
  padding-left: 0.5vw;
}

button.standard:disabled {
  color: rgb(68, 68, 68);
}

.material-icons,
.material-symbols-outlined {
  font-size: 3vh;
  display: inline-block;
  vertical-align: -0.25rem;
  padding-right: 0.5vw;
}

.add-button {
  background-color: var(--irecipe-green);
}

.delete-button {
  background-color: var(--irecipe-red);
}
